  
{{>header}}
{{>nav}}
<section class="container my-4">
    {{!-- <div class="my-3">
        <a href="/add" class="btn btn-primary">add</a>
    </div> --}}
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>city</th>
                <th>building</th>
                <th>street</th>
                <th>balance</th>
                {{!-- <th>action</th> --}}
            </tr>
        </thead>
        <tbody>
            {{!-- {{#if isEmpty}} --}}
            
            {{!-- <tr>
                <td colspan="5" class="alert alert-danger">no users to show</td>
            </tr> --}}

            {{!-- {{/if}} --}}

    {{!-- {{#each users}} --}}
        
            <tr>
                <td>{{user._id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.City}}</td>
                <td>{{user.building}}</td>
                <td>{{user.street}}</td>
                <td>{{user.balance}}</td>
                {{!-- <td> --}}
                    {{!-- <a href="edit/{{this._id}}" class="btn btn-warning mx-2">edit</a>
                    <a href="deposit/{{this._id}}" class="btn btn-primary mx-2">deposit</a>
                    <a href="withdrawal/{{this._id}}" class="btn btn-primary mx-2">withdrawal</a>
                    <a href="withdrawal/{{this._id}}" class="btn btn-warning mx-2">show</a> --}}
                    
                {{!-- </td> --}}
                 {{!-- <td>
                    <a href="deposit/{{this._id}}" class="btn btn-primary mx-2">deposit</a>
                </td>--}}
                {{!-- <td>  
                    <form method="post" action="delete/{{this._id}}">
                    <button class="btn btn-danger mx-2">delete</button>
                    </form>
                </td>  --}}
                  {{!-- <td>   --}}
                   
                {{!-- </td> --}}
            </tr>

    {{!-- {{/each}} --}}
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h5>transactions</h5>
        <table class="table table-stripped">
              <thead>
            <tr>
                <th>Type</th>
                <th>amount</th>
            </tr>
        </thead>
        <tbody>
        {{#each user.trans}}

            <tr>
                <td>
                    {{this.type}}
                </td>
                <td>
                    {{this.amount}}
                </td>


            </tr>

            {{/each}}

        </tbody>
</table>
</section>




 